body {
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f7ffff;
}
header {
  text-align: center; 
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
header p {
  font-size: 13px;
  margin: 0 0 15px 0;
}
header nav {
  font-weight: 600;
}
.penalty-box {
  margin: 10px 0 20px 0;
  display: block;
  border-bottom: 1px solid #02BEE8;
  padding-bottom: 10px;
}
.penalty-box .speculation {
  position: relative;
}
.penalty-box p {
  font-size: 16px;
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
  font-weight: normal; 
  margin: 0 10px 10px 10px;
  display: inline-block;
  max-width: 450px;
}
.tw-compare-o-tron {
  margin-bottom: 20px;
  position: static;
  z-index: 0;
}
.tw-compare-o-tron p, .fire-up {
  display: block;
  font-size: 14px;
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
}

.fire-up {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 10px;
}
.tw-compare-o-tron p {
  max-width: 450px;
  margin: 10px auto;
}
.tw-compare-o-tron h1 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #02BEE8;
}
.tw-logo {
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #02BEE8;
}
.tw-sub {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #02BEE8;
  font-size: 18px;
}
.twe {
  position: relative;
  bottom: -2px;
}
.twr {
  position: relative;
  top: -2px;
}
header { 
  position: relative;
}

.subscribe-form {
  position: absolute;
  right: 15px;
  top: 15px;
}

.subscribe-email {
  width: 100px;
}

.tcd-logo h1 {
  text-indent: -9999em;
  background-image: url(https://cldup.com/axmhgHyAxt.svg);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 30px;
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4f5f5;
}
nav a {
  margin: 10px;
}
nav form {
  display: inline-block
}
nav.hero {
  border-bottom: 0px;
}

.major-nav {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.major-nav a {
  display: inline-block;
  padding: 20px;
}

article {
  display: block;
}

article h2 {
  margin-top: 0;
}

main {
  width: 100%;
  margin: 0;
}

header img, section img {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 10px;
}

header img.mini-pic {
  width: 50%;
  float: left;
  margin: 0 10px 3px 0;
}

header h2, h2, h3 {
  margin-top: 0;
}

.headline {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  line-height: 1;
  margin: 10px;
  padding: 30px 0 10px 0;
  text-align: center;
}

.candidate-position {
  margin-left: 10px;
}

h2 {
  font-size: 22px;
  margin-top: 30px;
}

h2.which-compare-o-tron {
  text-align: center;
  margin-top: 10px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

section h5 {
  margin-bottom: 5px;
}

a:visited {
  color: rgba(83,187,228,0.6);
  text-decoration: underline;
}

a:link, h5 a:link {
  color: #53bce4;
  text-decoration: none;
  /* border-bottom: 1px solid aliceblue; */
}

section ul {
  margin-top: 0;
  padding: 0 0 0 15px;
}

section li a {
  display: inline;
  font-size: 14px;
}

.candidate-links li a {
  font-size: 13px
}

section, article, .candidate {
  margin: 10px;
}

p, p br, section li, section dl, .candidate-links li, .headline-container a {
  font-size: 15px;
  display: block;
  margin: 0 0 10px 0;
  line-height: 1.2;
}
strong {
  font-weight: 600;
}
strong br {
  display: none;
}

section dl {
  font-size: 14px;
  margin-top: 0;
  grid-template-columns: 40px 1fr;
  display: inline-grid;
  margin-bottom: 10px;
}

dd {
  display: inline-grid;
  margin-bottom: 8px;
}

dt {
  display: inline-grid;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

p a, .headline-container p a {
  display: inline;
}

h4 {
  margin-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.container, .container-wide, .container-candidate {
  display: inline-grid;
}

.hide-item {
  /* float: right; */
  display: inline-block;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 0 4px;
  color: #aaa;
}

.hide-item:hover {
  color: #bb0000;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day-over {
  opacity: 0.4;
}

.jumbo-emoji {
  font-size: 120px;
  text-align: center;
  margin-top: 0;
}

section h4:nth-of-type(2), section .suggestions {
  margin-top: 30px;
}


.crop-mid {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.crop-long {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.crop-full {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.crop-top {
  object-position: 100% 0%;
}

.crop-bottom {
  object-position: 0% 100%;
}

.crop-near-top {
  object-position: 0% 20%;
}

footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

article p {
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
}

.content p, .candidate p, .intro-container p {
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
}

.suggestions {
  background-color: #fafafa;
  padding: 10px;
}

.guide {
  margin-top: 10px;
  padding-bottom: 10px;
  /* background-color: #f7ffff;
  border-top: 1px solid #e4f5f5;
  border-bottom: 1px solid #e4f5f5; */
}

.races-collection {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.container-candidate-large {
  max-width: 800px;
  margin: 0 auto;
}

.race {
  margin: 50px 10px 130px 10px;
  padding: 20px;
  position: relative;
  border: 1px solid rgba(83,187,228,0.25);
  /* text-shadow: 1px 0px 0px rgba(83,187,228,1); */
  /* background-color: #f0fafa; */
  /* box-shadow: inset 0 0px 2px #daeded; */
}

form {
  position: relative;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid rgba(83,187,228,0.25);
}

.race h2, form h2 {
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: -47px;
  left: 15px;
  background-color: #f7ffff;
  padding: 0 5px;
}


.race a:link h2, .race a:visited h2, form h2 {
  color: rgba(83,187,228,0.6);
}

form p {
  line-height: 1.4;
  margin: 20px 0;
}

fieldset {
  border: 0px;
  padding: 0;
  width: 330px;
  margin: 0 auto;
  display: block;
}

.form-element {
  display: block;
  padding-bottom: 20px;
}


label { 
  padding: 5px;
  width: 100%;
  display: block;
  color: rgba(83,187,228,1);
}

input, textarea {
  width: 310px;
  padding: 10px;
  margin: 0;
  border: 1px solid rgba(83,187,228,0.6);
  outline: 0px;
  font-size: 15px;
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
}

textarea {
  height: 80px;
}

input.button {
  width: 330px;
  padding: 5px;
  background-color: transparent;
  border: 2px solid rgba(83,187,228,0.6);
  color: rgba(83,187,228,0.6);
  font-size: 18px;
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

input.button:hover {
  background: rgba(83,187,228,0.6);
  color: #fff;
}

.index .race a:link h2:after {
  content: " »"
}

del, del a:link, del li {
  opacity: 0.5 !important;
}

.notice {
  text-align: center;
}

.page {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 50px 50px 50px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(38, 58, 172, .1);
}

.candidate {
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  display: inline-grid;
  grid-template-columns: 170px 1fr;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(38, 58, 172, .1);
}

.candidate.candidate-mini {
  grid-template-columns: 1fr;
}

.candidate.candidate-mini {
  display: block;
}

.candidate.candidate-mini img {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.candidate-mini h5 {
  text-align: center;
}

.candidate ul {
  padding-left: 10px;
}

.candidate .info {
  grid-column: 1;
  grid-row: 1;
}

.candidate img {
  width: 150px;
  height: 150px;
}

.candidate img, .pos img {
  border-radius: 100px;
  object-fit: cover;
  object-position: 0% 10%;
}

.candidate img {
  margin: 5px 15px 10px 5px;
}

.info ul {
  padding-left: 25px;
}

.candidate .details {
  grid-column: 2;
  grid-row: 1;
}

.candidate h5 {
  margin-top: 10px;
}

.candidate h5 a {
  font-size: 20px;
}

.candidate .info h5 {
  display: none;
}

.container-candidate-large .candidate h5, .candidate-body {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.candidate-body:last-child {
  border-bottom: 0px none;
}

.candidate-bio, 
.candidate-bio, 
.candidate-statement {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.candidate-bio.excerpt div, 
.candidate-bio p:last-child, 
.candidate-bio 
.candidate-link { 
  display: inline; 
}

.candidate-link {
  font-size: 14px;
  margin-left: 10px;
}
.candidate ul {
  list-style: none;
}

.candidate li {
  font-size: 14px;
}

.recs li, .news li, .finance li, .donors li {
  padding-left: .7rem;
  position: relative;
}

.recs .yes::before, .recs .no::before, .news li::before, .finance li::before, .donors li::before {
  position: absolute;
  left: -15px;
  top: -5px;
  font-size: 20px;
}

.videolink::before {
  position: absolute;
  left: -4px;
  top: -3px;
  font-size: 20px;
}

.recs .yes::before {
  content: "👍";
  position: absolute;
}

.recs .no::before {
  content: "👎";
}

.news li::before {
  content: "📰";
}

.finance li::before, .donors li::before {
  content: "💰";
}

.videolink {
  font-size: 14px;
  padding-left: 20px;
  position: relative;
}

.videolink::before {
  content: "📺";
  font-size: 20px;
}

.videolink::after {
  content: " »"
}

li span {
  margin-right: 10px;
}

.city {
  margin-top: 40px;
}

table {
  border-spacing: 0px;
  margin-bottom: 60px;
}

th, th p {
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
  font-weight: normal;
  font-size: 13px;
}

th {
  width: 220px;
  text-align: left;
}

.key th {
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.key th:first-of-type, .key th:last-of-type {
  font-size: 20px;
}

th:first-of-type, th:last-of-type {
  width: 220px;
}

td {
  text-align: center;
}

td, th {
  border-spacing: 0px !important;
  border: 0px;
  outline: 0px;
  margin: 0;
  vertical-align: top;
}

.pos {
  text-align: center;
  display: inline-block;
  margin: 2px;
}

.pos img {
  border-width: 3px;
  border-style: solid;
}

tbody .pos img, .close {
  cursor: pointer;
}

.pos-1 img, .wa8-rep1 img, .franklin-1 img {
  border-color: #89db8b;
  background-color: #89db8b;
}

.pos-2 img, .wa8-rep2 img, .franklin-2 img {
  border-color: #6f7fd1;
  background-color: #6f7fd1;
}

.pos-3 img, .wa9-rep1 img, .benton-1 img {
  border-color: #FFC328;
  background-color: #FFC328;
}

.pos-4 img, .wa16-rep1 img, .benton-3 img {
  border-color: #e196f5;
  background-color: #e196f5;
}

.pos-5 img, .wa16-rep2 img {
  border-color: #94e3d9;
  background-color: #94e3d9;
}

.pos-6 img, .wa16-senator img {
  border-color: #ef9b9b;
  background-color: #ef9b9b;
}

.pos-1 .more, .wa8-rep1 .more, .franklin-1 .more {
  background-color: #89db8b;
}

.pos-2 .more, .wa8-rep2 .more, .franklin-2 .more {
  background-color: #6f7fd1;
  
}

.pos-3 .more, .wa9-rep1 .more, .benton-1 .more {
  background-color: #FFC328;
}

.pos-4 .more, .wa16-rep1 .more, .benton-3 .more {
  background-color: #e196f5;
}

.pos-5 .more, .wa16-rep2 .more {
  background-color: #94e3d9;
}

.pos-6 .more, .wa16-senator .more {
  background-color: #ef9b9b;
} 

.pos-1.color-key, .wa8-rep1.color-key, .franklin-1.color-key {
  border: 3px solid #89db8b;
}

.pos-2.color-key, .wa8-rep2.color-key, .franklin-2.color-key {
  border: 3px solid #6f7fd1;
}

.pos-3.color-key, .wa9-rep1.color-key, .benton-1.color-key {
  border: 3px solid #FFC328;
}

.pos-4.color-key, .wa16-rep1.color-key, .benton-3.color-key {
  border: 3px solid #e196f5;
}

.pos-5.color-key, .wa16-rep2.color-key {
  border: 3px solid #94e3d9;
}

.pos-6.color-key, .wa16-senator.color-key {
  border: 3px solid #ef9b9b;
}

.color-key-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.color-key-container {
  text-align: center;
  display: inline-grid;
  margin: 0 auto 10px auto;
}
.color-key-container input {
  width: auto;
  margin: 10px 10px 0 5px;
}

.compare-key {
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 1px solid #02BEE8;
}

@media screen and (max-width: 730px) {
  .color-key-set {
    grid-template-columns: 1fr 1fr;
  }
}

label.color-key-container {
  display: inline-block;
  width: auto;
  color: black;
}

.color-key {
  padding: 0px 38px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  display: inline-block;
}

.color-key .pos {
  position: absolute;
}

.color-key span {
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 120px;
}

.color-key span:first-of-type {
  font-size: 14px;
  margin-bottom: -2px;
}

.color-key span:last-of-type {
  font-size: 9px;
}

.color-key .pos img {
  width: 30px;
  height: 30px;
}

.color-key .pos:first-of-type {
  left: -6px;
  top: -5px;
}

.color-key .pos:last-of-type {
  right: -6px;
  top: -5px;
}

.color-key .pos h5 {
  display: none;
}

.pos.bc {
  margin: 5px 0;
}

.pos {
  position: relative;
}

td .more, .no-response .more {
  display: none;
  font-family: "Iowan Old Style", "Apple Garamond", "Palatino", "Georgia", "Times New Roman", serif;
  line-height: 1.4em;
  font-weight: normal;
  font-size: 14px;
  position: relative;
}

.more p {
  margin: 0;
  position: relative;
  z-index: 100;
}

table .pos.show .more {
  display: block;
}

td .pos img, .no-response .pos img {
  cursor: pointer;
}

.pos p:empty::before {
  content: ""
}

.pos p:empty::after {
  content: "No comment provided.";
  font-style: italic;
}

td .more, .no-response .more {
  position: absolute;
  width: 250px;
  min-height: 50px;
  top: -11px;
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 0px 0 10px rgba(0, 0, 0, .1);
}

td:nth-of-type(-n+2) .more {
  left: -10px;
  padding: 15px 40px 15px 60px;
  text-align: left;
  border-radius: 30px 10px 10px 10px;
}

td:nth-of-type(n+3) .more {
  right: -10px;
  padding: 15px 60px 15px 40px;
  text-align: left;
  border-radius: 10px 30px 10px 10px;
}

td:nth-of-type(-n+2) .dnr .more {
  width: 110px;
}

td:nth-of-type(n+3) .dnr .more {
  width: 110px;
}

td:nth-of-type(-n+2) .close {
  right: -2px;
}

td:nth-of-type(n+3) .close {
  left: -2px;
}

.close {
  position: absolute;
  top: -2px;
  background-color: inherit;
  background-color: rgba(0, 0, 0, .1);
  border: 2px solid rgba(0, 0, 0, .5);
  ;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
  border-radius: 50px;
  padding: 5px 8px;
  color: #000;
  font-size: 15px;
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}

.close::after {
  content: "X";
}

td p::before {
  content: "“"
}

td p::after {
  content: "”"
}

th {
  padding-bottom: 10px;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-top: 0px;
  vertical-align: top;
}

td:nth-child(4), th:nth-child(4) {
  border-left: 8px solid #eee;
}

td:nth-child(3), th:nth-child(3) {
  border-right: 8px solid #eee;
}

tr:last-of-type td, tr:last-of-type th {
  border-bottom: 0px none;
}

th:first-of-type {
  border-left: 0;
}

.pos img {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  object-fit: cover;
  object-position: 0% 10%;
}

.pos h5 {
  margin: -6px 0 0 0;
  padding: 0;
  font-size: 10px;
  font-weight: 500;
}

.speculation.dnr img {
  transform: rotate(45deg);
  opacity: .6;
}

.speculation img {
  opacity: .6;
}

.speculation h5 {
  font-style: italic;
}

.speculation h5:after {
  content: "?"
}



/* .news p::before {
  content: "📰";
  position: absolute;
  left: -15px;
}

li span {
  margin-right: 10px;
} */

.notes-note {
  text-align: center;
  font-size: 14px;
}

.rough-notes {
  margin-top: 14px;
  opacity: .4;
}

.rough-notes a {
  padding-top: 5px;
  border-top: 1px solid #eee
}

.rough-notes:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.engagement {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.engagement li { 
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
}

.engagement ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.index .engagement ul {
  margin: 10px;
}

.engagement h4 {
  margin-bottom: 5px;
  border-bottom: 0;
  font-weight: 400;
  text-align: center;
}

.container-candidate-large .engagement h4, .donor-summary h3 {
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}

.index .engagement {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
}

.index .engagement li {
  font-size: 13px;
}

.index .race {
  margin-bottom: 40px;
}

.fullLink {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
}

span.note {
  font-size: 12px !important;
  margin-left: 10px; 
}

.intro { 
  text-align: center;
  margin-bottom: 60px;
}

.intro h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left; 
  width: 350px;
  margin: 0 auto 20px auto;
  /* color: rgba(83,187,228,0.6); */
}

.intro span {
  font-size: 80px;
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}

.intro h2 {
  margin-top: 0;
  font-weight: 300;
}

.intro h2 a {
  font-weight: 500;
}

.intro h2 a {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

.helptext {
  font-size: 13px !important;
  color: #777;
  margin-bottom: 20px;
}


.intro-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  margin: 10px;
}

.intro-container div {
  margin: 20px;
}

.intro-container div img {
  width: 100%;
}

.intro-container h3, p {
  margin: 0 0 10px 0;
  padding: 0;
}

.intro-container img {
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: rgba(83,187,228,.1);
}

.intro-container p {
  font-size: 14px;
}

.intro-container h3 br {
  display: none;
}

.howto {
  background: rgba(83,187,228,.1);
}

@media screen and (max-width: 500px) {
  .intro br {
    display: none;
  }
  .intro p {
    max-width: 300px;
    margin: 0 auto;
  }

  header img.mini-pic {
    width: 100%;
    height: inherit;
    float: none;
    display: block;
    margin: 0 0 10px 0;
  }
  h1 {
    font-size: 28px;
    line-height: 1.2em;
  }

  .intro { 
    margin-bottom: 50px;
  }

  .intro h1 {
    font-size: 36px;
  }

  .intro h2 {
    font-size: 18px;
    margin: 10px 20px;
  }
  .intro p {
    margin-bottom: 10px;
  }
  .intro h1 span {
    float: none;
    display: block;
    text-align: center;
    margin: 0 ;
    position: relative;
    left: 5px;
  }
  .intro h1 {
    text-align: center; 
    margin: 0 auto;
    width: auto;
  }
  .intro h1 br {
    display: block;
  }
  .howto h1 {
    padding-top: 40px;
  }
}

@media screen and (min-width: 400px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .container-wide {
    grid-template-columns: 1fr;
  }
  .container-candidate {
    grid-template-columns: 1fr;
  }
  header article {
    margin-bottom: 10px;
  }
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-wide {
    grid-template-columns: 1fr 1fr;
  }
  .container-candidate {
    grid-template-columns: 1fr;
  }
  .jumbo-emoji {
    font-size: 120px;
    text-align: center;
  }
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-wide {
    grid-template-columns: 1fr 1fr;
  }
  .container-candidate {
    grid-template-columns: 1fr 1fr;
  }
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container-wide {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-candidate {
    grid-template-columns: 1fr 1fr;
  }
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .container-wide {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-candidate {
    grid-template-columns: 1fr 1fr;
  }
  .container-candidate-large .candidate {
    padding: 50px;
    grid-template-columns: 200px 1fr;
  }
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

.why-plus {
  opacity: 0.5;
  cursor: help;
}

.donation-event {
  margin-left: 10px;
}

.donation-event li span {
  margin-right: 0;
}

.donor-summary p {
  font-family: "Avenir Next", "Corbel", "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.container-candidate-large .donor-summary p {
  font-size: 15px;
}

.donor-summary .donor li {
  display: none;
}

.donor-summary .donor.show-details li {
  display: inline-block;
  grid-template-columns: 1fr;
  font-size: 12px;
}

.donation-event span {
  margin-right: 5px;
}

.donor button {
  border: 1px solid #fafafa;
  background-color: transparent;
  color: #777;
  display: inline-block;
}

.donor-summary ul {
  padding-left: 15px;
}

.donor-summary p {
  font-size: 14px;
}

.donor-summary ul p {
  font-size: 15px;
  position: relative;
}

.donor-list {
  display: grid;
  grid-template: 1fr 1fr 1fr;
}

.donor {
  margin: 0 0 10px 0;
  width: 280px;
  display: inline-grid;
}

.donor:nth-child(even) {
  margin-left: 10px;
}

.toggle-details {
  /* transform: rotate(90deg); */
  transition: .5s all;
}

.toggle-details:before {
  content: "▶";
  color: #53bce4;
  position: absolute;
  left: -25px;
  top: -10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.toggle-details:before:before {
  content: "show details";
}

.toggle-details:before {
  transform: rotate(0deg);
  transition: .2s all;
}

.show-details .toggle-details:before {
  transform: rotate(90deg);
  transition: .2s all;
}

.show-details .toggle-details:before:before {
  content: "hide details"
}

/* general election css */

@media screen and (min-width: 900px) {

  .races-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .guide-page .races-collection {
    grid-template-columns: 1fr;
    display: block;
  }

  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {

  .races-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .guide-page .races-collection {
    grid-template-columns: 1fr;
    display: block;
  }

  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 800px) {

  .guide-page .races-collection {
    grid-template-columns: 1fr;
    display: block;
  }

  .races-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-candidate.container-candidate-mini {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 1000px) {
  .races-collection {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.candidate-content {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px;
}

td {
  position: relative;
}

.no-response {
  margin-top: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.no-response .pos {
  display: block;
}
.no-response .pos img {
  position: relative;
  width: 30px;
  height: 30px;
  left: -5px;
}

.no-response h5 {
  font-size: 8px;
  position: relative;
  left: -5px;
}
.no-response h5:after {
  font-size: 8px;
  display: block;
  content: "on fence";
  line-height: .7;
  margin-bottom: 3px;
}

.no-response {
  z-index: 1;
}

.pos, .no-response .pos {
  z-index: 1;
}

tbody .wa8-rep1, tbody .wa8-rep2, tbody .wa9-rep1, tbody .wa16-rep1, tbody .wa16-rep2, tbody .wa16-senator, tbody .franklin-1, tbody .franklin-2, tbody .benton-1, tbody .benton-3 {
  display: none;
}

.ld8rep1 tbody .wa8-rep1, .ld8rep2 tbody .wa8-rep2, .ld9rep1 tbody .wa9-rep1, .ld16rep1 tbody .wa16-rep1, .ld16rep2 tbody .wa16-rep2, .ld16senator tbody .wa16-senator, .franklin1 tbody .franklin-1, .franklin2 tbody .franklin-2, .benton1 tbody .benton-1, .benton3 tbody .benton-3 {
  display: inline-block;
}

/* z-index */

.race h2, form h2 {
  z-index: 1;
}
.pos img, .pos h5 {
  z-index: 1;
  position: static;
}
.pos {
  position: static;
}
table .pos.show {
  position: relative;
}
table .pos.show img, table .pos.show h5 {
  position: relative;
  z-index: 21;
}
table .pos.show .more {
  z-index: 20;
}
td .more, .no-response .more {
  z-index: 10;
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  h1 {
    padding-top: 10px;
  }
  .tw-compare-o-tron p {
    margin: 10px;
  }
  .candidate .details {
    grid-column: 1;
    grid-row: 2;
  }
  
  .race {
    border: 0px none;
    margin: 0px auto 0px auto;
    padding: 40px 5px 40px 5px;
    border-bottom: 1px solid #e1f2f2;
  }

  .race:nth-of-type(even) {
    background-color: #edfafa;
  }

  .container, .container-wide, .container-candidate, .container-candidate.container-candidate-mini{
    width: 100%;
  }
  
  .candidate {
    grid-template-columns: 1fr;
  }
  
  .race h2 {
    top: auto;
    left: auto;
    position: static;
    line-height: 1.2;
    text-align: center;
    margin: 0px 5px 0 5px;
    font-size: 22px;
    background-color: transparent;
  }
  
  .race a:link h2, .race a:visited h2 {
    color: rgba(83,187,228,0.9);
  }
  
  .candidate .candidate-links li {
    list-style: none;
    display: inline;
    margin: 8px;
  }
  
  .candidate img {
    margin: 10px auto;
    display: block;
  }
  
  .recs .yes::before, .recs .no::before  {
    position: static;
    font-size: 14px;
    font-weight: 500
  }

  .recs .yes::before, .recs .no::before  {
    content: "Supporting letters: ";
  }
  
  .recs .no::before {
    content: "Opposing letters: ";
  }
  
  .recs li, .news li, .finance li, .donors li, section ul, .candidate ul {
    padding-left: 0;
    line-height: 1.5;
  }
  
  p, section li, section dl, section a, .headline-container a {
    font-size: 12px;
  }
  
  .guide {
    margin-top: 0px;
  }
  
  .candidate-links {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .candidate-links span {
    display: none;
  }
  
  .candidate-image-name {
    display: block;
    text-align: center;
  }

  .candidate .info h5 {
    display: block;
    margin-top: 20px;
  }
  
  .candidate .details h5 {
    display: none;
  }
  
  .candidate-bio p {
    margin-top: 0;
    line-height: 1.4;
  }  

  .tw-compare-o-tron h1 {
    margin-top: 0;
    padding-top: 0;
  }
  .tw-sub {
    display: block;
  }
  table {
    width: 100%;
     -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;
  }
  
  td, th {
  padding: 2px;
  }
  
  th:first-of-type, th:last-of-type {
    width: 200px;
  }
  td:nth-child(4), th:nth-child(4) {
    border-left: 2px solid #eee;
  }

  td:nth-child(3), th:nth-child(3) {
    border-right: 2px solid #eee;
  }
  
  .pos img {
    width: 30px;
    height: 30px;
    border-width: 2px;
  }

  .pos h5 {
    font-size: 8px;
  }

  td .more, .no-response .more {
  font-size: 13px
  }
  
  th {
    font-size: 9px;
  }

  th {
    width: 200px;
  }

  .key th {
    font-size: 11px;
  }

  .key th:first-of-type, .key th:last-of-type {
    font-size: 15px;
  }
  
  td .more, .no-response .more {
    position: absolute;
    width: 120px;
  }
  .intro-container {
    grid-template-columns: 1fr;
    display: grid;
    margin: 10px;
  }
  .intro-container p {
    width: 80%;
    margin: 10px auto;
  }
  .intro-container div img {
    width: 50%;
    margin: 10px auto;
    display: block
  }
  .intro-container h3 {
    text-align: center;
  }
  .intro-container div {
    margin: 0 0 20px 0;
    padding: 10px;
  }
  .intro-container h3 br {
    display: block;
  }
  
}

@media screen and (max-width: 480px) {
  .color-key-set {
    grid-template-columns: 1fr 1fr;
  }
  .color-key-container input {
    margin: 0 auto 5px auto;
    display: block;
  }
  .color-key {
    padding: 25px 32px 0 32px;
    height: 50px;
    border-radius: 10px;
    margin-top: -25px;
  }
  .color-key span {
    width: 75px !important;
    line-height: 1;
    margin-bottom: 8px !important;
  }
  .color-key span:first-of-type {
    font-size: 12px !important;
  }
  th, th p {
    font-family: "Arial Narrow", sans-serif;
    font-weight: 200;
    font-size: 10px;
    line-height: 1.3;
  }
  .color-key .pos:first-of-type {
    left: 0px;
    top: 0px;
  }
  
  .color-key .pos:last-of-type {
    right: 0px;
    top: 0px
  }
  
  
  element.style {
      /* padding: 0; */
      /* height: 100px; */
      /* width: 100px; */
  }
  .candidate.candidate-mini img {
      display: block;
      margin: 10px auto;
      text-align: center;
  }
  @media screen and (max-width: 500px) {
  .candidate img {
      margin: 10px auto;
      display: block;
  }
  .candidate img {
    margin: 5px auto 10px auto;
  }
  .candidate img, .pos img {
      border-radius: 100px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 0% 10%;
      object-position: 0% 10%;
  }
  .candidate {
    padding: 5px;
    margin: 2px;
  }
  .candidate h5 a {
    font-size: 16px;
  }
  .candidate h4 {
    font-size: 14px;
  }
  .candidate li, .index .engagement li, .candidate li a {
    font-size: 11px;
  }
  .index .candidate img {
    max-width: 100px;
    max-height: 100px;
  }
  .index .engagement ul {
    margin: 3px;
  }
  .donor-summary p {
    font-size: 12px;
  }
  .index .race {
    margin-bottom: 0px;
  }
  .race h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .note {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .intro h1 {
    font-size: 28px;
  }
}

/* temporary */
/* 
body {
  background: #fff;
}

.pos h5 {
  display: none;
}

th p {
  display: inline;
  background-color: #eee;
  color: #eee;
  font-size: 7px;
}

.no-response {
  display: none;
} */



